#covid-widget {
  display: grid;
  display: -ms-grid;
  max-width: 700px;
  margin: var(--text-side);
  border: 1px solid black;
  padding: var(--text-side);
  border-radius: 5px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
#covid-widget h3 {
  width: 100%;
  grid-column: 1 / -1;
}
.covid--block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.covid--block--header {
  width: 100%;
  font-weight: bold;
}
