.nav--hide {
    display: none !important;
}
#nav {
    width: 100vw;
    backdrop-filter: blur(15px);
    background: transparent;
    box-shadow: 1px 0 0 var(--color-border);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    padding: 10px 20px;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}
#nav a {
    text-decoration: none;
    color: black;
}

.menu--list--link, .sub-menu--list--link{
    display: block;
    height: 33px;
    padding: 0 9px;
    overflow: hidden;
    line-height: 33px;
    color: var(--color-title);
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    text-decoration: none;
    font-style: normal;
}

.is--selected {
    background: var(--color-accent);
}
.menu--list, .sub-menu--list{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 15px 9px;
    text-align: left;
    list-style: none;
}
.menu--list--logo {
    display: flex;
    align-self: center;
    height: 70px;
    padding: 0 9px;
    overflow: hidden;
}
.sub-menu {
    display: none;
}
.sub-menu--display {
    display: block;
}
.logo{
    fill: var(--color-accent);
    width: 100%;
    box-sizing: border-box;
    width: 120px;
}
.menu {
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid var(--color-border);
    position: relative;
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.menu-separator {
    height: 1px;
    margin: 15px 0 6px;
    background: var(--color-border);
}
.sub-menu {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}