html {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * 
        ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: var(--font-size);
    font-family: sans-serif;
    color: var(--color-black);
}

code, kbd, pre {
    font-family: monospace;
}