footer {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
  background-color: var(--color-black);
}
footer a {
  text-decoration: none;
  color: var(--placeholder-white-color);
  font-weight: bold;
}
.footer--nav {
  display: flex;
  align-items: flex-start;
  padding-left: 7em;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
.footer--nav--item {
  cursor: pointer;
}
.footer--nav--header {
  color: var(--placeholder-white-color);
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--placeholder-white-color);
}
/* .footer--nav--item__before::before{
  content: "";
  width: 0;
  display: block;
  height: 0;
  border-top: calc(var(--font-size) * 0.5) solid transparent;
  border-bottom: calc(var(--font-size) * 0.5 ) solid transparent;
  border-right: calc(var(--font-size) * 0.8) solid var(--placeholder-white-color);
  position: absolute;
  bottom: 0;
}
.footer--nav--item__before::after{
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background-color: var(--placeholder-white-color);
  position: absolute;
  bottom: -calc(var(--font-size) * 0.8);
}
.footer--nav--item__after::after{
  content: "";
  width: 0;
  display: block;
  height: 0;
  border-bottom: calc(var(--font-size) * 0.5) solid transparent;
  border-top: calc(var(--font-size) * 0.5) solid transparent;
  border-left: calc(var(--font-size) * 0.8) solid var(--placeholder-white-color);
  position: absolute;
  bottom: 0;
  right: 0;
} */
.footer--nav--item a {
  font-size: 0.8em;
}
.footer--nav--item__separator {
  width: 5px;
  padding: 0 5px;
  height: 100%;
  background-color: var(--placeholder-white-color);
}
@media screen and (min-width: 1300px) {
  footer {
    display: none !important;
  }
}
