<link rel="stylesheet" type="text/css" href="/css/covid-widget.css" />
<div id="covid-widget">
  <h3>Covid-19 в России</h3>
  <picture class="covid--image">
    <img src="/assets/images/covid.png" alt="Вирус covid-19" />
  </picture>
  <div class="covid--grid">
    <div class="covid--block">
      <span class="covid--block--value" id="covid-cases"></span>
      <span class="covid--block--header">Всего заболело</span>
    </div>
    <div class="covid--block">
      <span class="covid--block--value" id="covid-todayCases"></span>
      <span class="covid--block--header">Заболело сегодня</span>
    </div>
    <div class="covid--block">
      <span class="covid--block--value" id="covid-deaths"></span>
      <span class="covid--block--header">Умерло</span>
    </div>
    <div class="covid--block">
      <span class="covid--block--value" id="covid-todayDeaths"></span>
      <span class="covid--block--header">Умерло за сегодня</span>
    </div>
    <div class="covid--block">
      <span class="covid--block--value" id="covid-recovered"></span>
      <span class="covid--block--header">Выздоровело</span>
    </div>
    <div class="covid--block">
      <span class="covid--block--value" id="covid-critical"></span>
      <span class="covid--block--header">Критическое сост.</span>
    </div>
  </div>
</div>
<script type="module" src="/assets/js/covid19.js"></script>
<!-- <a href="https://www.freepik.com/free-photos-vectors/home">
  Home vector created by freepik - www.freepik.com</a> -->
