<footer class="flex-center">
  <div class="footer--nav">
    {% assign posts = site.posts | where_exp:"item", 
    "item.category == page.categories[0]" %} 
    
    {% assign postsFiltred = posts | where_exp:"item",
    "item.title != page.title" %} 

    <div class="footer--nav--header">
      Тема "{{page.categories[0]}}"
    </div>
    {% for post in postsFiltred %}
    <div class="footer--nav--item">
      <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    {% endfor %}
  </div>
</footer>
