---
import { getCollection, getEntries } from "astro:content";

export interface Props {
  title: string;
  category: string;
  url: string;
}
const { title, category, url } = Astro.props;
const allBlogPosts = await getCollection("post", ({ data }) => {
  //console.log(data, data.category, category);
  return data.category === category;
});

//console.log(category, allBlogPosts);
---
<footer class="flex-center">
  <div class="footer--nav">

  </div>
<!--   <div class="footer--nav">
    {% assign posts = site.posts | where_exp:"item", 
    "item.categories contains page.categories[0]" %} 
    
    {% assign postsFiltred = posts | where_exp:"item",
    "item.title != page.title" %} 

    <div class="footer--nav--header">
      Тема "{{page.categories[0]}}"
    </div>
    {% for post in postsFiltred %}
    <div class="footer--nav--item">
      <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
    </div>
    {% endfor %}
  </div> -->
</footer>
