<button class="hamburger" id="hamburger" aria-expanded="false"><span class="hamburger--screen-reader-text">Menu</span>
    <svg class="hamburger--icon" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100">
        <g class="hamburger--svg">
            <path class="hamburger--svg--line" d="M5 13h90v14H5z" />
            <path class="hamburger--svg--line" d="M5 43h90v14H5z" />
            <path class="hamburger--svg--line" d="M5 73h90v14H5z" />
        </g>
    </svg>
</button>

<script>
    const hamburgerInit = () => {
        const button = document.getElementById('hamburger');
        const nav = document.getElementById('nav');
        if(!button || !nav) return;
        button.onclick = () => {
            button.classList.toggle("opened");
            nav.classList.toggle("nav--hide");
        };
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        hamburgerInit();
    });
</script>