<nav id="nav" class="layout--menu nav--hide">
  <div class="menu">
    <ul class="menu--list">
      <a class="menu--list--logo" href="{{ site.baseurl }}/" rel="home">
        <img class="logo" src="/assets/logo.gif" alt="Лиса спряталась и торчит один хвост" srcset="">
      </a>
      <div class="menu-separator"></div>

      {% for category in site.categories %}
      {% if category[0] == "Разработка" %}
      <li class="menu--list--link is--selected" id={{ 'menu--list--link--' | append: category[0] }}>
        {% else  %}
      <li class="menu--list--link" id={{ 'menu--list--link--' | append: category[0] }}>
        {% endif  %}
        <a href="#" onclick="changeCategory(`{{ category[0] }}`)">{{ category[0] }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>



  {% for category in site.categories %}
  {% assign posts = site.posts | where_exp:"item",
      "item.categories contains category[0]" %}
  {% if category[0] == "Разработка" %}
  <div class="sub-menu sub-menu--display" id={{ 'sub-menu--' | append: category[0] }}>
    {% else  %}
    <div class="sub-menu" id={{ 'sub-menu--' | append: category[0] }}>
      {% endif  %}
      <ul class="sub-menu--list">

        {% assign groupPosts = posts | group_by: "tag" %}
          {% for group in groupPosts %}
          <span class="sub-menu--list--header">{{group.name}}</span>
          {% for post in group.items %}
          <li class="sub-menu--list--link">
            <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        {% endfor %}

      </ul>
    </div>
    {% endfor %}

</nav>


<script>
  let defaultOpenCategory, defaultSelectedMenu;
  const SUB_CSS = `sub-menu--`;
  const LINK_CSS = `menu--list--link--`;
  let categoryFromLocalstore = localStorage.getItem('category');

  const hideDOM = (elem, action = true) => {
    const domElement = document.getElementById(elem);
    const cssClass = 'sub-menu--display';
    action ? domElement.classList.remove(cssClass) :
      domElement.classList.add(cssClass);
  };
  const unselectDOM = (elem, action = true) => {
    const domElement = document.getElementById(elem);
    const cssClass = 'is--selected';
    action ? domElement.classList.remove(cssClass) :
      domElement.classList.add(cssClass);
  };

  defaultOpenCategory = `${SUB_CSS}Разработка`;
  defaultSelectedMenu = `${LINK_CSS}Разработка`;

  const changeCategory = category => {
    localStorage.setItem('category', category);
    const idShowElem = `${SUB_CSS}${category}`;
    const idSelectedElem = `${LINK_CSS}${category}`;
    if (defaultOpenCategory === idShowElem) return;

    hideDOM(idShowElem, false);
    unselectDOM(idSelectedElem, false);

    hideDOM(defaultOpenCategory);
    unselectDOM(defaultSelectedMenu)

    defaultOpenCategory = idShowElem;
    defaultSelectedMenu = idSelectedElem;
  };

  /* Если в localstore есть категория, то сделать ее активной */
  if (categoryFromLocalstore) {
    changeCategory(categoryFromLocalstore);
  }

</script>