<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    {% include hamburger.html %}
    {% include nav.html %}
    <div class="blog">
        <article id="article">
            <img src="{{ page.cover }}" class="book-cover" alt="Обложка книги">
            <table>
                <tr>
                    <th>Название</th>
                    <td>{{ page.title }}</td>
                </tr>
                <tr>
                    <th>Автор</th>
                    <td>{{ page.author }}</td>
                </tr>
                <tr>
                    <th>Темы</th>
                    <td>{{ page.themes }}</td>
                </tr>
                <tr>
                    <th>Обьем</th>
                    <td>{{ page.size }} стр.</td>
                </tr>
                <tr>
                    <th>Оценка</th>
                    <td>{{ page.mark }}</td>
                </tr>
                <tr>
                    <th>Купить</th>
                    <td><a href="{{ page.link }}">Ссылка</a></td>
                </tr>
                </tr>
            </table>
            {{ content }}
            {% include share_buttons.html %}
        </article>
        {% include article-nav.html %}
    </div>
    {% include footer.html %}
</body>
{% include yandex-counter.html %}
</html>