---
import Hamburger from "../components/Hamburger.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import YA from "../components/YA.astro";
---
<!DOCTYPE html>
<html lang="ru">
  <Head />
  <body>
    <Header /> 
    <Hamburger /> 
    <Nav />
    
    <div class="blog">
      <article>
        <slot /> 
      </article>
    </div>
  </body>
  <YA />
</html>

